<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpSYfWhNxYFpa8l6zveOvZKyBX6IAQ0_8</string>
	<key>GCM_SENDER_ID</key>
	<string>75198792000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allan0215.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tik-tok-clone-seanwho</string>
	<key>STORAGE_BUCKET</key>
	<string>tik-tok-clone-seanwho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75198792000:ios:ee55bb061bed1a7847baa5</string>
</dict>
</plist>